.description {
  text-align: center;
  padding-top: 20px;
}

.profile {
  width: 320px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(22, 22, 22);
  margin-left: 20px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  background: rgb(233, 241, 237);
}

.name {
  color: rgb(22, 22, 22);
  font-size: 24px;
  font-weight: 600;
}

.tag {
  color: rgb(138, 138, 138);
  font-weight: 400;
}

.location {
  color: rgb(138, 138, 138);
  font-weight: 400;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 0px;
  margin: 0;
  border-top: 1px solid rgb(22, 22, 22);
  background: rgb(233, 241, 237);
}

.label {
  color: rgb(138, 138, 138);
  display: block;
}

.quantity {
  font-weight: 600;
  text-align: center;
}
